[submodule "jmsd_tpa_cppunit"]
	path = jmsd_tpa_cppunit
	url = https://github.com/jiteman/jmsd_tpa_cppunit.git
[submodule "jmsd_tpa_gtm"]
	path = jmsd_tpa_gtm
	url = https://github.com/jiteman/jmsd_tpa_gtm.git
[submodule "jmsd_tpa_poco"]
	path = jmsd_tpa_poco
	url = https://github.com/jiteman/jmsd_tpa_poco.git
[submodule "jmsd_tpa_abseil"]
	path = jmsd_tpa_abseil
	url = https://github.com/jiteman/jmsd_tpa_abseil.git
